*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans Medium";
}
body,html
{
    height: 100%;
    width: 100%;

}

#minicircle
{
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}

.bounding
{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(100%);   
}

#main
{
    width: 100%;
    
    background-image:url(images/bg_layer1.webp);
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}

 /* .wrap-container::before
{
    background-image: linear-gradient(
        transparent 50%, 
        rgba(241, 14, 14, 0.02) 50%
      ),
      linear-gradient(
        90deg, 
        transparent 50%, 
        rgba(0, 0, 0, 0.02) 50%
      );
      background-size: 100px 100px;
} */

#hero
{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-image: url(bg_layer.webp), url(noise.gif);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF; */

}
#nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #FFFFFF;

}

#nav a
{
   color: #FFFFFF;
   text-decoration: none;
   font-size: 18px;

}

#heading
{
    margin-top: 90px;
}

#heading h1
{
  margin-left: 30px;
  opacity: .7;
  line-height: 1;
  font-family: "General Sans Medium";
  font-size: 10vw;
  text-transform: uppercase;
  font-weight:900;

}

#heading #secondh1
{
    margin-left: 130px;

}

.blocktext 
{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* background-color: rgb(0, 0, 0); */
}
.blocktext h5
{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}
#smallheadings
{
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top:100px;
  padding-right: 30px;

}

#smallheadings h5
{
  text-align: right;
  text-transform: uppercase;
  margin-top: .5vw;
  font-size: clamp(1.2vw,2vw,3vw);


}
#herofooter 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 3%;
    width: 100%;
    padding: 0 2vw;


}
#herofooter a
{
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
#herofooter #iconset
{
    display: flex;
    gap:2px;
}


#herofooter .circle
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000000;
}

#second
{
    width: 100%;
    height: 100vh;
    padding-top: 200px;
    padding-right: 10vw;

}

.elem
{
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.elem h1
{
    text-transform: uppercase;
    font-size: 4vw;
    /* opacity: .9; */


}
.elemlast
{
    border-bottom: 1px solid #888;
}

#elembtn
{
    /* padding: 20px 20px;
    height: 50px;
    width: 100x;
    border-radius: 20px;
    color: #ffffff;
    opacity:.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: 600;
    opacity: .8; */
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.8),0px 1px 3px rgba(0,0,0,0.3);
    border-color: #111;
    color: #ffffff;
    text-shadow: -1px -1px 1px rgba(0,0,0,1);
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
    height: 50px;
    width: 100px;
    border-radius: 15px;
    



}

.elem img
{
    height: 140%;
    position: absolute;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#skillset
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:25vw;
    padding: 100px auto;
    flex-direction: column;
}
#skillset h4
{
   font-size: 3vw;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
   color: #888;
   filter: brightness(10);
}
#skills_icons
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
#icons
{
    font-size: 80px;
    font-weight: 400;
    gap: 10px;
    color: #ffffff;

}
.part3
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about
{
    width: 90%;
    margin-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #000000;
    border-radius: 30px;

}

.about h3
{
  font-size: 3vw;
  font-weight: 700;
  margin-top: 0%;
  padding-bottom: 50px; 
  color: #fff;
}


#img_about
{
    height: 200px;
    width: 200px;
    background-color: #8b8b8b88;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* border: 2px solid black */
}
#img
{
    height: 850px;
    scale: .7;
    margin-bottom: 0%;

}
#about_details
{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 60px;
    text-indent: 2px;
}
#para
{
    font-style: italic;
    font-weight: 200;
    color: #ffffff;
}

#footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    color: #FFFFFF;
    background-color: #000000;
    margin-top: 100px;
}

#footerleft
{
  display: flex;
  gap: 20px;
}
#footerright
{
    display: flex;
    gap: 30px;
}


#footer a 
{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;    
}
